@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --border: 0 0% 91%;
  --card: 0 0% 98%;
  --card-foreground: 0 0% 9%;
  --sidebar: 0 0% 96%;
  --sidebar-foreground: 0 0% 9%;
  --sidebar-border: 0 0% 92%;
  --sidebar-primary: 142 76% 36%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 92%;
  --sidebar-accent-foreground: 0 0% 9%;
  --sidebar-ring: 142 76% 36%;
  --popover: 0 0% 94%;
  --popover-foreground: 0 0% 9%;
  --popover-border: 0 0% 90%;
  --primary: 142 76% 36%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 90%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 92%;
  --muted-foreground: 0 0% 45%;
  --accent: 142 8% 88%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84% 42%;
  --destructive-foreground: 0 0% 98%;
  --input: 0 0% 75%;
  --ring: 142 76% 36%;
  --chart-1: 142 70% 35%;
  --chart-2: 207 90% 40%;
  --chart-3: 280 65% 45%;
  --chart-4: 35 85% 45%;
  --chart-5: 12 76% 50%;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: .5rem;
}

.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 98%;
  --border: 0 0% 16%;
  --card: 0 0% 9%;
  --card-foreground: 0 0% 98%;
  --sidebar: 0 0% 11%;
  --sidebar-foreground: 0 0% 98%;
  --sidebar-border: 0 0% 14%;
  --sidebar-primary: 142 76% 45%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 15%;
  --sidebar-accent-foreground: 0 0% 98%;
  --sidebar-ring: 142 76% 45%;
  --popover: 0 0% 13%;
  --popover-foreground: 0 0% 98%;
  --popover-border: 0 0% 16%;
  --primary: 142 76% 35%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 17%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 16%;
  --muted-foreground: 0 0% 65%;
  --accent: 142 6% 18%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 84% 38%;
  --destructive-foreground: 0 0% 98%;
  --input: 0 0% 30%;
  --ring: 142 76% 45%;
  --chart-1: 142 70% 55%;
  --chart-2: 207 90% 60%;
  --chart-3: 280 65% 65%;
  --chart-4: 35 85% 60%;
  --chart-5: 12 76% 65%;
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }
}